[Unit]
Description=Falcond Game Performance Daemon
After=multi-user.target
Wants=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/falcond \
          -Dconfig-path=/opt/falcond/config.conf \
          -Dstatus-file=/run/falcond/status \
          -Duser-profiles-dir=/opt/falcond/conf.d
User=root
Restart=on-failure

[Install]
WantedBy=graphical.target
